doctype html
html(class="full-height")
  head
    title= title
    link(rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='stylesheet' href="/css/bootstrap/bootstrap.min.css")
    link(rel='stylesheet' href="/css/mdBootstrap/mdb.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/tag.css')
    link(rel='stylesheet', type='text/css', href='/javascripts/trix/trix.css')
    

    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="x-ua-compatible" content="ie=edge")

  body

    nav.navbar.navbar-expand-lg.navbar-light.fixed-top.scrolling-navbar
      a.navbar-brand(href='/')
        img(src="https://yt3.ggpht.com/-BySj78ptttg/AAAAAAAAAAI/AAAAAAAAAAA/-xCE-EuTpnQ/s900-c-k-no/photo.jpg" width='40' height='40')
        span#title The Political
        span#titleTwo Zone
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent-7',aria-controls='navbarSupportedContent-7', aria-expanded='false', aria-label='Toggle navigation')
        span
          i.fa.fa-bars
      #navbarSupportedContent-7.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/articles')
              | Articles 
              span.sr-only (current)
          if user && user.authLevel <=2
            li.nav-item
              a.nav-link(href='/add') Add Article
          form.form-inline.waves-effect.waves-light(style="color:black !important")
            input.form-control.mr-sm-2(type='text', id="search" placeholder="Search" style="color: black !important")

        ul.nav.justify-content-right
          if user
            li.dropdown(style="padding-right:30px")
              button#dropdownMenuButtonbtn.btn.btn-outline-info(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | Settings
              .dropdown-menu(aria-labelledby='dropdownMenuButton')
                .col.align-self-center
                  a.accounts(href="/account")
                    img.rounded-circle.img-responsive(src=user.gravatar style="width: 60px; height: auto")
                hr
                if user && user.authLevel ==1
                  a.btn.aqua-gradient.btn-rounded(href='/admin') Admin Page
                hr
                .col.align-self-center
                  a.btn.btn-danger.btn-rounded(href="/logout") Logout
              
          else
            li.nav-item
              a.nav-link(href="/login") Sign in
            li.nav-item
              a.nav-link(href="/register") Register



    //- ////////////////////////// Navbar Version
        br
    br
    br
    br
    br


    block messages
    if locals.flashes
      .inner
        .flash-messages
          - const categories = Object.keys(locals.flashes)
          each category in categories
            each message in flashes[category]
              .flash.row(class=`alert alert-${category}`)
                p.col!= message
                button.btn.btn-danger(onClick="this.parentElement.remove()") &times;
    block content

    // Footer
  

    

  script
    script.
      new WOW().init();    
    script(type="text/javascript" src="/javascripts/mdBootstrap/jquery-3.2.1.js")
    script(type="text/javascript" src="/javascripts/mdBootstrap/popper.min.js")
    script(type="text/javascript" src="/javascripts/bootstrap/bootstrap.min.js")
    script(src="https://use.fontawesome.com/444917fc3e.js")
    script(type="text/javascript" src="/javascripts/mdBootstrap/mdb.min.js")
    script(type='text/javascript', src='/javascripts/trix/trix.js')



    


