extends ../navigation/layout


block content
	br
	br
	.container(style="background-color: transparent !important")
		.row
			.col-md-12
				.card.card-cascade.wider.reverse
					// Post data
					.card-body.text-center
						h1#articleHeader #{article.name}
						p
							| Written by 
							a #{article.author.name}
						img.rounded-circle.img-responsive(src=user.gravatar style="width: 60px; height: auto")

						h6.pb-1.teal-text
							i.fa.fa-university
							strong  #{article.tags} 
					// Post data
				// Excerpt
		.card#articleCard
			.excerpt.mt-5
				p(style="white-space: pre")!=article.content
		// Grid row
		hr.mb-5.mt-4
	// Section: Blog v.4	
