extends ../navigation/layout
include ../mixins/_commentForm
include ../mixins/_comment


block content

	.container(style="background-color: #F5F5F5")
		br
		br
		.row
			.col-md-12
				.card.card-cascade.wider.reverse
					.card-body.text-center(style="background-color: #F5F5F5")
						h1#articleHeader #{article.name}
						img.rounded-circle.img-responsive(src=article.author.gravatar style="width: 60px; height: auto")
						p Written by #{article.author.name}
						
						each tag in article.tags
							.chip.pb-1.red-text
								i.fa.fa-university
								strong  #{tag} 
		.excerpt.mt-5
				p(style="white-space: pre")!=article.content
		hr.mb-5.mt-4

	br

	.container(style="background-color: transparent !important")
		.card
			if user
				.row
					+commentForm(article)

			if article.comments
				each comment in article.comments
					+comment(comment)