extends ../navigation/layout


block content
	.inner
		h2 #{title} (#{tag})
		ul.tags
			each t in tags
				a.tag(href=`/tags/${t._id}` class=(t._id === tag ? 'active' : ''))
					span=t._id
					span=t.count
		ul
			each article in articles
				h1=article.name