mixin articleCard(article={})
	br
	section.section.extra-margins.pb-3.text-center.text-lg-left
		// Section heading
		.row
			// Grid column
			.col-lg-4.mb-4
				// Featured image
				.view.overlay.hm-white-slight.z-depth-1-half
					img.img-fluid(src=`/uploads/${article.photo || 'article.jpeg'} `, alt='First sample image')
					a
						.mask
			// Grid column
			// Grid column
			.col-lg-7.ml-xl-4.mb-4
				// Excerpt
				a.teal-text(href='')
					h6.pb-1
						i.fa.fa-university
						strong  #{article.tags} 
				h4.mb-3(style="word-wrap: break-word")
					strong #{article.name}
				p(style="word-wrap: break-word")
					| #{article.description}
				p
					| by 
					a
						strong #{article.author}
					| , 26/08/2016
				a.btn.btn-primary.btn-sm(href=`/article/${article.slug}`) Read more
				
				if user && article.author.equals(user._id)
					a.btn.btn-primary.btn-sm(href=`/${article._id}/edit`) edit
				
				if user && user.authLevel==1
					a.btn.btn-primary.btn-sm(href=`/${article._id}/edit`) edit
			// Grid column
		// Grid row
		hr.mb-5


	





			
