mixin articleForm(article = {})
    
    br
    .container
        form(action=`/add/${article._id || ''}` method="POST" enctype="multipart/form-data")
            .md-form
                label(for="name") Name
                input.form-control(type="text" name="name" value=article.name required)
            .md-form        
                label(for="description") Description
                textarea.md-textarea(type="text" name="description" maxlength="250" required)=article.description
            .md-form
                //- label(for="content") Content
                //- textarea.md-textarea(type="text" name="content" required)=article.content
                h5 Content
                hr
                input#x(type='hidden', name='content' value=article.content)
                trix-editor.trix-content(input='x')
            .file-field
                .btn.btn-primary.btn-sm
                    span Choose Photo
                    input(type="file" name="photo" id="photo" accept="image/gif,image/png, image/jpeg")
                .file-path-wrapper
                    input.file-path.validate(type='text', placeholder='Upload one or more files')
                if article.photo
                    img(src=`/uploads/${article.photo}`, alt=article.name width=200)

            - const choices = ['Liberal', 'Conservative', 'Independent']
            - const tags = article.tags || []
            br
            h5 Tags
            hr
            .row
                each choice in choices 
                    .form-group
                        .col
                            input(type="checkbox" id=choice value=choice name="tags" checked=(tags.includes(choice)))
                            label(for=choice) #{choice}

            - const features = ['Carousel', 'Main Feature', 'Main Featured-Side', 'Sub-Carousel', 'Republican-Bottom', 'Liberal-Bottom', 'Independent-Bottom']
            - const featureTag = article.featured || []
            br
            h5 Feature an article
            hr
            .row
                each feature in features 
                    .form-group
                        .col
                            input(type="checkbox" id=feature value=feature name="featured" checked=(featureTag.includes(feature)))
                            label(for=feature) #{feature}
            .row.justify-content-end
                form.justify-content-left(action=`/delete/${article._id || ''}` method="POST" enctype="multipart/form-data")
                    input.btn.btn-danger.btn-lg.justify-content-left(type="submit" value="Delete" class="button")
                input.btn.btn-primary.btn-lg(type="submit" value="Save" class="button")
            br




        
