mixin articleCard(article={})
	br
	.container.fluid(style="background-color: transparent !important")
		.card.card-blog
			.row
				.col-lg-4.col-md-5.col-sm-2
					.card-image(style="width: 100%; height:auto")
						img.img(src=`/uploads/${article.photo || 'article.jpeg'} `, alt='')
						.ripple-cont
				.row(style="overflow:hidden !important")
					.w-100
					.col
						.table
							if article.tags
								h6.category.text-success
									i.fa.fa-university #{article.tags}
							h4.card-caption #{article.name}
							.cdescription
								p.card-description
								| #{article.description}
							.ftr
								.author
									a(href='#')
										img.avatar.img-raised(src='images/3.png', alt='...')
										span Mary Dunst
			.row.justify-content-end
				.col-lg-2.col-md-2.col-sm-4
				.col-lg-4.col-md-5.col-sm-4.justify-content-end
					.stats
						i.fa.fa-clock-o
						|  10 min
						a.btn.btn-danger.btn-round(href=`/article/${article.slug}`) Read More
						a.btn.btn-warning.btn-round(href=`/${article._id}/edit`) Edit
