mixin articleCard(article={})
	.container(style="width:45.88rem")
		.card.mb-3
			img.card-img-top(src=`/uploads/${article.photo}`)
			.card-body
				h4.card-title= article.name
				p.card-text=article.description
				p.card-text
					small.text-muted
						a(href=`/article/${article.slug}`) Read More
				button.button
					a(href=`/${article._id}/edit`) Edit
				
				a.btn-btn-info-btn-lg(href="..")
					span.glyphicon.glyphicon-pencil Pencil
